.grid {
    display: grid;
    padding: 1rem;
    margin: 1rem;
    grid-template-columns: 150px, repeat(100px,minmax(100px, 1fr));
    grid-column: 3 / 5;
}

.image {
    width: 30px;
    height: 30px;
}